.navbar {
  color: white;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 10px;
  padding-left: 20px;
}
.navbar > h2 {
  font-weight: 500;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0.5;
  cursor: pointer;
  transition: transform 50ms linear;
}

.navbar > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
